body {
  background: black;
  height: 100vh;
  width: 100vw;
}

#poem {
  color:white;
  position: absolute;
  top: 25%;
  font-family: "Esteban", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  width: 100%;
  text-align: center;
}

#wish {
  color:white;
  position: absolute;
  bottom: 25%;
  font-family: "Esteban", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  width: 100%;
  text-align: center;
}

.petal {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
  width: 100px;
  height: 100px;
  border-radius: 100% 0 100% 50%;
  --color: hsl(0, 60%, 50%);
  background: linear-gradient(-45deg, black, var(--color));
  transition: transform .4s ease-out;
  mix-blend-mode: screen;
}